<div class="frontDiv">
    <h2 class="center-align"> Hi! My name is Colin Whitcomb and I'm a full stack web developer.</h2>


    <div class="col s12 center-align">
        <a id="frontBtn" class="waves-effect btn">VIEW MY WORK</a>
    </div>

</div>