body {
    background-image: url('../img/background_pic.jpg');
    width: 100%;
}

#frontBtn {
    background-color: rgb(7, 7, 7);
    color: white;
}

/* .frontDiv{
    background: linear-gradient(rgb(195, 195, 196), rgb(182, 97, 32));
} */


/* background: -moz-linear-gradient(
    center bottom, */
    /* rgba(0,0,0,1.0) 0%, Bottom */
    /* rgba(0,0,0,0.0) 100% Top */
/* ); */