body {
    /* background-image: url('../img/TreeFog.jpg'); */
    background-repeat: no-repeat;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
}

#landingPage {
    background-image: url('../img/TreeFog.jpg');
}

/* #homePage { */
    /* background-image: url('../img/pexels-zhang-kaiyv-842654.jpg'); */
/* } */

/* #frontText {
    /* color: rgb(232, 231, 231); */
/* } */ 

#frontBtn {
    background-color: rgb(7, 7, 7);
    color: white;
}

.frontDiv{
   margin-top: 360px;
}

#homePage{
    background-image: url('../img/pexels-zhang-kaiyv-842654.jpg');
}


/* background: -moz-linear-gradient(
    center bottom, */
    /* rgba(0,0,0,1.0) 0%, Bottom */
    /* rgba(0,0,0,0.0) 100% Top */
/* ); */